body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

.hero-container {
    display: flex;
    background-color: #1F2937;
    padding: 12px 120px;
    align-items: center;
}

.hero-container-item {
    flex: 1;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    font-size: 18px;
    color: #85878B;
    display: flex;
    justify-content: end;
    gap: 120px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #85878B;
    margin: 8px 0px;
}

.main-course-container {
    background-color: #1F2937;
    padding: 120px 120px;
    display: flex;
    align-items: center;
    gap: 120px
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 8px 0px;
}

.button {
    background-color: #3882F6;
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    border-radius: 8px;
    margin: 8px 0px;
}

.dessert-info-text {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

.dessert-info-images {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.dessert-info-image {
    width: 216px;
}

.dessert-image {
    border-radius: 8px;
    border: solid #3882F6 8px;
}

.dessert-text {
    text-align: center;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 120px 360px;
    display: flex;
    align-items: center;
    gap: 120px
}

.quote-text {
    font-size: 36px;
    font-weight: 300; /* Light */
    font-style: italic;
    color: #1F2937;
}

.quoter {
    text-align: end;
}